wheel
graphviz
matplotlib
japanize-matplotlib
numpy
pandas
scikit-learn
scipy
jupyterlab
ipywidgets
jupyterlab_materialdarker
openpyxl
jupyterlab-vim
seaborn
pandas-profiling
dtreeviz
plotly
tqdm
lightgbm
xgboost
jupyterlab-code-formatter
black
isort
utm
altair
vega_datasets
altair_saver
selenium
webdrivermanager
